@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 81%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #fff;
}

.text h2 {
    font-size: 20px;
}

.text h2 span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

img {
    margin: 1rem;
    border-radius: 50%;
    border: 1px solid #fff;
}
.container h1 {
    font-size: 25px;
    margin-top: 15px;
    padding-bottom: 1rem;
}

p {
    font-size: 15px;
    color: hsl(0, 0%, 81%);
}

.container {
    margin: 10rem auto;
    padding: 3rem;
    display: grid;
    gap: 1.5rem;
}




/*///////////////////////////////////TESTIMONIALS////////////////////////////////////*/

.daniel {
    background-color: hsl(263, 55%, 52%);
    padding: 2rem; 
    border-radius: 10px;
   
}

.jonathan {
    background-color: hsl(217, 19%, 35%);
    padding: 2rem;
    border-radius: 10px;
   
}


.jeanette {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    padding: 2rem;
   
}

.patrick {
    background-color: hsl(219, 29%, 14%);
    border-radius: 10px;
    padding: 2rem;
}

.kira {
    background-color:#fff;
    color: #000;
    border-radius: 10px;
    padding: 2rem;
   
}
/*/////////////////////////MEDIA QUERIES ////////////////*/

@media (min-width: 600px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }

    .kira  {
        grid-column-start: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .grid-col-span {
    grid-column: span 2;
}
}
